<div class="row">
  <div class="col-12 text-center">
    <a [routerLink]="['form']">
      <button class="btn btn-secondary mx-auto btn-sm mt-2 mb-2">Add new invoice</button></a
    >
  </div>
  <div class="col-12">
    <table class="table table-striped table-hover table-light">
      <thead class="thead-light">
        <tr align="center">
          <th scope="col">Amount</th>
          <th scope="col">Vat Amount</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Date</th>
          <th scope="col" colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices" align="center">
          <th>{{ invoice.amount | currency: "USD" }}</th>
          <th>{{ invoice.vatAmount | currency: "USD" }}</th>
          <th>{{ invoice.totalAmount | currency: "USD" }}</th>
          <th>{{ invoice.invoiceDate | date : 'medium' }}</th>
          <th>
            <a [routerLink]="['form', invoice.id]">
              <button class="btn btn-primary btn-sm">Edit</button></a
            >
            <button
              (click)="deleteInvoice(invoice.id)"
              class="btn btn-danger btn-sm"
            >
              Delete
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
